@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  color: $basecolor;
  background-size: 180px;
  background-image: url(../../static/images/backgroundImg.gif);
  font-family: 'Kiwi Maru', serif;
}

.page-enter {
  opacity: 0;
}
.page-enter-active {
  transition: opacity 0.3s;
}

section {
  width: 80%;
  margin: 0 auto;

  @include tab {
    width: 90%;
  }

  @include phone {
    width: 95%;
  }
}

a {
  text-decoration: none;
}

input[type="submit"] {
  border-style: none;
  color: $basecolor;
  cursor: pointer;
}

.error-message {
  color: #e8374a;
  text-align: center;
  margin-top: 20px;
}

.search-border {
  border: 1px solid $basecolor;
  border-radius: 10px;
  width: 50%;
  margin: 10px auto;

  .search {
    border-style: none;
    @include search
  }

  @include phone {
    width: 70%;
  }
}

.card {
  margin-bottom: 50px;

  p {
    margin-top: 30px;
    text-align: center;
    font-size: 1.6rem;
  }

  .cardItem {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    @include tab {
      margin-top: 20px;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }

    @include phone {
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }

    &__inner {
      border: 1px solid #fff;
      border-radius: 10px;
      padding: 18px;
      position: relative;

      @include phone {
        padding: 10px;
      }

      &__title {
        font-weight: 100;
        font-size: 2rem;
        margin-bottom: 2px;

        @include pc {
          font-size: 1.8rem;
        }

        @include tab {
          font-size: 1.6rem;
        }

        .icon {
          padding-right: 7px;
        }
      }

      &__text {
        font-size: 1.4rem;
        margin-top: 10px;

        @include tab {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.form {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 450px;

  @include phone {
    width: 300px;
    margin-top: 0px;
  }

  &__inner {
    margin-top: 10px;

    label {
      display: inline-block;
      font-size: 1.4rem;
    }

    p {
      @include notice
    }

    input {
      border: 1px solid $basecolor;
      background: $basecolor;
      border-radius: 10px;
      @include search(8px 0, 10px, 1.2rem)
    }
  }
}

.noItem {
  text-align: center;

  &__title {
    margin-top: 20px;
    font-size: 2rem;
  }
}